﻿body {
    background-image: url("../img/ep_naturalwhite.png");
}

header {
    font-family: Cuprum, Arial, Helvetica, sans-serif;
}

input {
    font-size: 13px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 8px;

}

.main-menu * {
    margin: 0;
    padding: 0;
    z-index: 1
}

.main-menu ul,
.main-menu ol {
    list-style: none;
}

.main-menu > ul {
    display: flex;
    justify-content: center;
}

.main-menu > ul li {
    position: relative;
    border-right: 1px solid #c7c8ca;
}

.main-menu > ul li:first-child {
    border-left: 1px solid #b2b3b5;
}

.main-menu > ul li:last-child {
    border-right: 1px solid #babbbd;
}

.main-menu > ul li > a i.fa {
    position: absolute;
    top: 15px;
    left: 12px;
    font-size: 18px;
}

.main-menu input {
    width: 200px;
    height: 30px;
}

.main-menu > ul li a {
    display: block;
    background: rgb(201, 201, 201);
    background: -moz-linear-gradient(top, rgba(201, 201, 201, 1) 0%, rgba(246, 246, 246, 1) 2%, rgba(196, 197, 199, 1) 98%, rgba(117, 117, 119, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(201, 201, 201, 1) 0%, rgba(246, 246, 246, 1) 2%, rgba(196, 197, 199, 1) 98%, rgba(117, 117, 119, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(201, 201, 201, 1) 0%, rgba(246, 246, 246, 1) 2%, rgba(196, 197, 199, 1) 98%, rgba(117, 117, 119, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9c9c9', endColorstr='#757577', GradientType=0); /* IE6-9 */
    padding: 15px 30px 15px 40px;
    font-size: 14px;
    color: #454547;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.main-menu label.toggleMenu:hover,
.main-menu li a:hover {
    background: rgb(224, 225, 229);
    background: -moz-linear-gradient(top, rgba(224, 225, 229, 1) 0%, rgba(69, 69, 71, 1) 2%, rgba(69, 69, 71, 1) 98%, rgba(224, 225, 229, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(224, 225, 229, 1) 0%, rgba(69, 69, 71, 1) 2%, rgba(69, 69, 71, 1) 98%, rgba(224, 225, 229, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(224, 225, 229, 1) 0%, rgba(69, 69, 71, 1) 2%, rgba(69, 69, 71, 1) 98%, rgba(224, 225, 229, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0e1e5', endColorstr='#e0e1e5', GradientType=0); /* IE6-9 */
    color: #ffffff;
    box-shadow: 1px 5px 10px -5px black;
    transition: all 0.3s ease;
}

.main-menu li ul {
    position: absolute;
    min-width: 150px;
    display: none;
}

.main-menu li > ul li {
    border: 1px solid #c7c8ca;
}

.main-menu li > ul li a {
    padding: 10px;
    text-transform: none;
    background: #e4e4e5;
}

.main-menu li > ul li ul {
    position: absolute;
    left: -150px;
    top: 0;
}

.main-menu li:hover > ul {
    display: block;
}

.main-menu li > form {
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    display: block;
    width: 270px;
    height: 40px;
}

.main-menu [type="checkbox"],
.main-menu label.toggleSubmenu {
    display: none;
}

.main-menu label.toggleMenu {
    background: rgb(201, 201, 201);
    background: -moz-linear-gradient(top, rgba(201, 201, 201, 1) 0%, rgba(246, 246, 246, 1) 2%, rgba(196, 197, 199, 1) 98%, rgba(117, 117, 119, 1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(201, 201, 201, 1) 0%, rgba(246, 246, 246, 1) 2%, rgba(196, 197, 199, 1) 98%, rgba(117, 117, 119, 1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(201, 201, 201, 1) 0%, rgba(246, 246, 246, 1) 2%, rgba(196, 197, 199, 1) 98%, rgba(117, 117, 119, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9c9c9', endColorstr='#757577', GradientType=0); /* IE6-9 */
    display: none;
    padding: 15px 40px;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    position: relative;
}

.main-menu label.toggleMenu.fa {
    position: absolute;
    top: 15px;
    left: 12px;
    font-size: 18px;
}

.button {
    border: 2px solid rgba(0, 0, 0, 0.5);;
    background: rgba(0, 0, 0, 0);
    color: black;
    text-decoration: none;
    font-size: 14px;
    height: 35px;
    width: 65px;
    text-align: center;
    line-height: 50%;
    font-family: Arial, sans-serif;
    position: relative;
}

.button:hover {
    color: white;
    background: #454547;
}

.modal {
    top: -50%;
    width: 40%;
    margin: -250px auto auto 25%;
    position: absolute;
    border-radius: 5px;
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, .25);
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, .25);
    background-color: rgba(24, 33, 52, 0.7);
    text-align: center;
    box-shadow: 0 -5px 0 #3adbfd;
    z-index: 2;
}

.modal img {
    width: 120px;
    height: 120px;
    margin: -60px 0 0 0;
    border: 5px solid #1a394f;
    border-radius: 50%;
    box-shadow: 0 -5px 0 #3adbfd;
}

.modal:target {
    top: 60%;
    transition: all 0.4s ease-in-out;
}

.modal select,
.modal input[type="text"], input[type="password"] {
    width: 80%;
    height: 50px;
    font-size: 18px;
    margin-bottom: 25px;
    border-radius: 4px;
    padding-left: 40px;
}

.modal section, .modal header, .modal footer {
    padding: 15px;
    z-index: 200;
}

.modal .btn {
    float: right;
}

.modal-input input:hover {
    box-shadow: 0 0 6px 3px rgba(58, 219, 253, 0.35);
}

.modal-submit {
    padding: 13px 30px;
    margin: 5px 0 20px 0;
    font-size: 15px;
    color: #fff;
    background-color: #2ca8c6;
    border: none;
    border-bottom: 4px solid #6ee9fd;
    cursor: pointer;
}

.modal-submit:hover {
    transition: all 0.5s;
    background: #fff;
    color: #2c536c;
}

.actor-model-label {
    color: white;
    display: block;
    position: relative;
    top: -20px;
}

.artist-modal-input::before {
    font-family: "FontAwesome";
    position: absolute;
    font-size: 30px;
    padding: 10px 0 0 7px;
    color: #2c536c;
}

.modal-input::before {
    font-family: "FontAwesome";
    content: "\f007";
    position: absolute;
    font-size: 30px;
    padding: 10px 0 0 7px;
    color: #2c536c;
}

.modal-input:nth-child(2)::before {
    content: "\f023";
}

.artist-modal-input:hover:before,
.modal-input:hover::before {
    color: #319ebc;
    transition: all 0.3s;
}

.modal #registration-button-first,
.modal #registration-button-second {
    display: block;
    position: relative;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: -50px;
}

.modal #registration-button-second {
    top: -33px;
    margin-left: 55%;

}


.error-page,
.review,
.user-list,
.create-film,
.create-artist,
.films,
.film-info,
.add-review,
.review-info,
.artist,
section .create-user,
section .user {
    margin: 1% 17.5%;
    width: 65%;
    height: auto;
    float: left;
    background-color: #f6f6f6;
    border-top: 2px solid silver;
    color: #484848;
    font-size: 1.3em;
}

.artist select,
.artist input,
.film-info select,
.film-info input,
.user select,
.user input {
    display: none;
}

.user-list a:checked,
.user-list a,
.create-artist a:checked,
.create-artist a,
.artist a:checked,
.artist a,
.create-film a:checked,
.create-film a,
.review-info a:checked,
.review-info a,
.add-review a:checked,
.add-review a,
.film-info a:checked,
.film-info a,
.create-user a:checked,
.create-user a,
.user a:checked,
.user a {
    color: rgba(128, 128, 128, 0.7);
}

.user-list a:active,
.user-list a:hover,
.create-artist a:active,
.create-artist a:hover,
.artist a:active,
.artist a:hover,
.create-film a:active,
.create-film a:hover,
.film-info a:active,
.film-info a:hover,
.user a:active,
.user a:hover,
.create-user a:active,
.create-user a:hover,
.film-info .star-marked,
.user-film-mark > .star-marked {
    color: rgba(0, 0, 0, 0.9);
}

.film-info #view-film-artist a:checked,
.film-info #view-film-artist a,
.review #review-film-title a:checked,
.review #review-film-title a {
    color: rgba(0, 0, 0, 0.9);
}

.user-list img,
.create-artist img,
.create-film img,
.film-info img,
.artist img,
.create-user img,
.user img {
    height: 115px;
    width: 115px;
    position: relative;
    display: block;
    margin-left: 25px;
    margin-top: 25px;
}

.create-user ul,
.user ul {
    position: relative;
    display: block;
    margin-top: -100px;
    margin-left: 130px;
}

.create-user li,
.user li {
    height: 25px;
    list-style-type: none;
    padding: 6px 0 4px 10px;
}

.create-artist .button,
.create-film .button,
.add-review .button,
.review-info .button,
.film-info .button,
.artist .button,
.create-user .button,
.user .button {
    float: right;
    margin-right: 20px;
    margin-bottom: 10px;
    width: unset;
}

.artist select,
.artist input,
.user select,
.user input {
    width: 300px;
    height: 25px;
}

.create-artist h3,
.create-film h3,
.film-info h3,
.artist h3,
.create-user h3,
.user h3 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

section .user-list,
section .films {
    height: 115px;
}

.user-list img,
.films img {
    display: block;
    margin-left: 20px;
    margin-top: 20px;
    width: 80px;
    height: 80px;
}

.user-list h5,
.films h5 {
    position: relative;
    margin-left: 20px;
    color: black;
    width: fit-content;
}

.films #films-title {
    top: -105px;
    left: 120px;
}

.films #films-genre {
    left: 120px;
    top: -120px;
}

.films #films-release-date {
    float: right;
    top: -220px;
}

.user-list #user-login {
    top: -105px;
    left: 95px;
}

.user-list #user-name-surname {
    top: -130px;
    left: 95px;
}

.user-list #user-rating {
    top: -225px;
    float: right;
}

.user-list #user-status {
    float: right;
    top: -200px;
    left: 108px;

}

.review div,
.user-list div,
.create-artist div,
.create-film div,
.add-review div,
.film-info div,
.artist div,
.user div,
.create-user div,
.review-info div {
    position: relative;
    width: fit-content;
    display: block;
}

.create-film .film-info-mark,
.film-info .film-info-mark {
    margin-right: 20px;
    float: right;
}

.create-film #view-film-title,
.film-info #view-film-title {
    top: -105px;
    left: 180px;

}

.create-film #view-film-genre,
.film-info #view-film-genre {
    top: -100px;
    left: 180px;
}

.create-film #view-film-country,
.film-info #view-film-country {
    top: -95px;
    left: 180px;
}

.create-film #view-film-release-date,
.film-info #view-film-release-date {
    top: -90px;
    left: 180px;
}

.create-film #view-film-type,
.film-info #view-film-type {
    top: -85px;
    left: 180px;
}

.create-film .user-film-input-review,
.film-info .user-film-input-review,
.film-info #view-film-discription {
    border-top: 3px double black;
    margin: 20px 30px 0px 35px;
    width: 90%;
    top: -70px;

}

.create-film #view-film-discription {
    margin: -80px 20px 0px 20px;
}

.create-film #view-film-artist,
.film-info #view-film-artist {
    top: -80px;
    left: 180px;
}

.create-artist #view-artist-biography > textarea,
.artist #view-artist-biography > textarea,
.create-film #view-film-discription > textarea {
    border: solid 0 #000;
    width: 100%;
    height: 200px;
    outline: none;
    -moz-appearance: none;
}

.artist img,
.create-artist img {
    top: -40px;
}

.artist #remove-button {
    top: -20px;
}

.artist #view-artist-birthday,
.artist #view-artist-surname,
.artist #view-artist-name,
.create-artist #view-artist-birthday,
.create-artist #view-artist-surname,
.create-artist #view-artist-name {
    top: -110px;
    left: 180px;
}

.artist #view-artist-biography,
.create-artist #view-artist-biography {
    margin: -110px 20px 0px 30px;
}

.add-review .user-film-input-review > textarea,
.artist #view-artist-biography > textarea,
.film-info #view-film-discription > textarea {
    display: none;
    border: solid 0 #000;
    width: 100%;
    height: 200px;
    outline: none;
    -moz-appearance: none;
}

.film-info #remove-button {
    top: -20px;
}

.hidden-input {
    display: none;
}

.review #film-img,
.review-info .user-film-img,
.add-review .user-film-img {
    width: 70px;
    height: 70px;
    margin-top: 20px;
    margin-left: 20px;

}

.review-info .user-film-name,
.add-review .user-film-name {
    top: -65px;
    left: 90px;
}

.review-info .user-film-status {
    float: right;
    top: -90px;
    margin-right: 20px;
}

.add-review .user-film-status {
    z-index: 1;
    float: right;
    top: -90px;
    margin-right: 20px;
}

.review-info .user-film-input-review {
    top: -60px;
    left: 95px;
}

.add-review .user-film-input-review {
    display: block;
    top: -85px;
    margin: 0px 20px -80px 95px;
}

.add-review .user-film-input-review > textarea {
    display: block;
    height: 70px;
}

.review-info .user-film-local-date {
    top: -15px;
    float: left;
    margin-left: 20px;
}

.review-info .user-film-mark {
    top: -20px;
    margin-left: 20px;
}

.add-review .user-film-mark {
    margin-left: 20px;
    top: 20px;
}

.review #review-film-title {
    top: -105px;
    left: 120px;
}

.review #review-comment {
    top: -100px;
    left: 120px;
}

.review #review-mark {
    top: -114px;
    left: 300px;
}

.review #review-date {
    float: right;
    top: -135px;
}

.error-page #view-error-img >img {
    width: 100%;
    position: relative;
    display: block;
}

.error-page #view-error-message {
    margin-bottom: -75px;
    top: -130px;
    position: relative;
    margin-right: 20px;
    margin-left: 20px;
}

@media all and (max-width: 950px) {
    .main-menu {
        overflow: hidden;
    }

    .main-menu ul {
        display: none;
        max-height: 0;
        transition: max-height 0.3s;
    }

    .main-menu li > ul li ul {
        position: absolute;
        left: 0px;
        top: auto;
        z-index: 1;
    }

    .main-menu li:hover > ul {
        display: none;
    }

    .main-menu label.toggleMenu {
        display: block;
    }

    input.toggleMenu:checked + label.toggleMenu {
        background: #000;
        color: #fff;
    }

    input.toggleMenu:checked ~ ul,
    input.toggleSubmenu:checked ~ ul {
        display: block;
        position: relative;
        max-height: 5000px;
        transition: max-height 2s ease-in;
    }

    .main-menu label.toggleSubmenu {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        display: block;
    }

    input.toggleSubmenu:checked ~ a {
        background: #454547;
        color: #fff;
    }

    input.toggleSubmenu:hover ~ a {
        background: #454547;
        color: #fff;
    }

    .main-menu label.toggleSubmenu .fa:before {
        content: "\f0d7";
        color: #454547;
    }

    .main-menu label.toggleSubmenu .fa {
        position: absolute;
        top: 15px;
        right: 30px;
    }

    .main-menu input.toggleSubmenu:checked ~ label.toggleSubmenu .fa::before {
        content: "\f0d8";
        color: #ffffff;
    }

    .main-menu li > form {
        width: 100%;
    }

    .main-menu li > form > #search-input {
        width: 80%;
    }

    section .error-page,
    section .review,
    section .user-list,
    section .create-artist,
    section .artist,
    section .create-film,
    section .add-review,
    section .films,
    section .film-info,
    section .review-info {
        margin: 1% 10%;
        width: 80%;
    }

    section .error-page,
    section .review,
    section .user-list,
    section .create-artist,
    section .artist,
    section .create-film,
    section .add-review,
    section .film-info,
    section .review-info {
        height: auto;
    }

    section .user-list,
    section .films {
        height: 115px;
    }

    .main-menu li > form > #search-button {
        width: 15%;
        margin-right: 10px;
        margin-left: 5px;
    }

    .create-user #user-profile-list,
    .user #user-profile-list {
        position: relative;
        display: block;
        margin-top: 0px;
        margin-left: 0px;
    }

    .create-user #user-image,
    .user #user-image {
        height: 115px;
        width: 115px;
        position: relative;
        display: block;
        margin-left: 37%;
    }

    .films {
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }
}

@media all and (max-width: 750px) {
    .films {
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }

    .films > #films-img {
        margin-top: 20px;
        margin-left: 40px;

    }

    .films > #films-title {
        top: -120px;
        left: 200px;
    }

    .films > #films-release-date {
        float: none;
        top: -190px;
        left: 120px;
    }

}
